<html>
  <head></head>
  <body>
    <p>Player 1: <%= @game.p1_name %>, Hit Points: <%= @game.p1_health %></p>
    <p>Player 2: <%= @game.p2_name %>, Hit Points: <%= @game.p2_health %></p>
    <p><%= @game.current_player.name %> attacked <%= @game.other_player.name %>!</p>
    <form action='/change-turn'>
      <button type='submit'>Change Turns</button>
    </form>
  </body>
</html>
