<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/mainstyle.css">
    <style>


    </style>
  </head>
  <body>
    <div class='index-up'>
      <%= @game.battle_message %>
      <p class='head1'>Player 1: <%= @game.p1_name %>, Hit Points: <%= @game.p1_health %></p>
      <p class='head2'>Player 2: <%= @game.p2_name %>, Hit Points: <%= @game.p2_health %></p>
      <div style='clear:both;'></div>
      <form action='/attack'>
        <button class='bottombutton' type='submit' id='fight'>Attack <%= @game.other_player.name %>!</button>
      </form>
      <form action='/heal'>
        <button type='submit' id='attack'>Rest</button>
      </form>
    </div>
  </body>
</html>
